//books

.book-1-glow
    background url(../images/books.png) no-repeat -10px -10px
    width 241px
    height 204px

.book-2-glow
    background url(../images/books.png) no-repeat -271px -10px
    width 234px
    height 199px

.book-3-glow
    background url(../images/books.png) no-repeat -271px -229px
    width 224px
    height 193px

.book-4-glow
    background url(../images/books.png) no-repeat -10px -234px
    width 216px
    height 186px

.book-5-glow
    background url(../images/books.png) no-repeat -10px -440px
    width 210px
    height 180px

.book-1
    background url(../images/books.png) no-repeat -515px -229px
    width 187px
    height 151px

.book-2
    background url(../images/books.png) no-repeat -525px -10px
    width 182px
    height 146px

.book-3
    background url(../images/books.png) no-repeat -515px -400px
    width 172px
    height 141px

.book-4
    background url(../images/books.png) no-repeat -240px -442px
    width 164px
    height 132px

.book-5
    background url(../images/books.png) no-repeat -424px -561px
    width 158px
    height 128px

//btn

.btn-glow
    background url(../images/btn1.png) no-repeat -10px -10px
    width 543px
    height 568px

.btn-active
    background url(../images/btn1.png) no-repeat -573px -10px
    width 246px
    height 80px

.btn-default
    background url(../images/btn1.png) no-repeat -573px -140px
    width 246px
    height 80px

.btn-hover
    background url(../images/btn1.png) no-repeat -573px -270px
    width 246px
    height 80px


.btn-1-glow
    background url(../images/btn2.png) no-repeat -10px -10px
    z-index 1
    width 543px
    height 568px

.btn-1-active
    background url(../images/btn2.png) no-repeat -573px -10px
    width 246px
    height 80px

.btn-1-default
    background url(../images/btn2.png) no-repeat -573px -140px
    width 246px
    height 80px

.btn-1-hover
    background url(../images/btn2.png) no-repeat -573px -270px
    width 246px
    height 80px

//cont

.bonus
    background url(../images/bonus.png) no-repeat 0 0
    width 818px
    height 500px
    @media (max-width 750px)
        background url(../images/bonus-mob.png) no-repeat 0 0



.logo
    background url(../images/cont3.png) no-repeat -10px -176px
    width 472px
    height 164px

//man

.body
    background url(../images/man.png) no-repeat -10px -10px
    width 670px
    height 1110px

.hand
    background url(../images/man.png) no-repeat -700px -10px
    width 260px
    height 506px

.book-glow-2
    background url(../images/man.png) no-repeat -700px -536px
    width 211px
    height 106px

.book-glow-1
    background url(../images/man.png) no-repeat -700px -662px
    width 192px
    height 81px

//pays



.providers
    background: url("../images/providers.png")
    width: 634px
    height: 54px
    top 410px
    left -176px
    position absolute
    @media (max-width 750px)
        left -108px
        top 300px





//slot

.slot
    background url(../images/slot1.png) no-repeat -10px -10px
    width 1068px
    height 712px

.slot-glow
    background url(../images/slot1.png) no-repeat -10px -742px
    width 1054px
    height 889px

.slot-mask
    //background url(../images/slot.png) no-repeat -10px -1651px
    mask url(../images/slot1.png) no-repeat -10px -1651px
    width 836px
    height 191px
